.icon-button {
    all: unset;
    user-select: none;
    padding: 5px;
    margin: 0;
    outline: none;
    border-radius: 5px;
    transition: background-color 200ms;
    border: 1px solid transparent;
}

.icon-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.icon-button:active {
    background-color: rgba(255, 255, 255, 0.1);
    scale: 0.9;
}
