.container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.bar {
    width: 80%;
    height: 100%;
    border-radius: 5px;
    background-color: #424242AA;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 5px;
}

.item {
    width: 35px;
    border-radius: 5px;
    aspect-ratio: 1;
    background-size: 25px auto;
    background-position: center;
    background-repeat: no-repeat;
}

.item:hover {
    background-color: #FFFFFF11;
}

.item:active {
    background-size: 20px auto;
}